.banner-view{
    box-sizing: border-box;
    background-image: url(../../assets/img/neymar.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 560px;
    border-bottom: 10px solid #000;
    padding-top: 70px;
    padding-left: 90px; 
}

.banner-view .wrapper{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    
}

.banner-view .main-box{
    margin-bottom: 40px;
}

.banner-view .navigation{
    display: flex;
    justify-content: space-around;
    margin-left: 28px;
}