.banner-view {
    box-sizing: border-box;
    background-image: url(../../assets/img/neymar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    border-bottom: 10px solid #000;
    padding-top: 70px;
    padding-left: 90px;
}

.banner-view .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0px;
}

.banner-view .main-box {
    margin-bottom: 40px;
}

.banner-view .navigation {
    display: flex;
    justify-content: space-around;
    margin-left: 28px;
}

/* Media Query para iPhone 11 em modo retrato */
@media only screen and (max-width: 828px) {
    .banner-view {
        height: auto;
        padding-top: 40px;
        padding-left: 20px;
    }

    .banner-view .wrapper {
        max-width: 100%;
    }

    .banner-view .navigation {
        margin-left: 0;
    }
}
