.box{
    display: inline-block;
    background-color: rgb(109, 97, 120);
    width: 630px;
    box-shadow: 10px 10px 0px;
    text-align: center;
    padding: 42px 44px;

}

.box .title{
    margin-bottom: 28px;
}