.button-press{
    display: inline-block;
    background-color: #FDB927;
    height: 20px;
    box-shadow: 5px 5px 3px #000000;
    padding: 18px 20px;
    margin-right: 25px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-family: 'Fira Code';
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.top-header .button-press{
padding-top: 10px;
padding-bottom: 2px;
height: 30px;
font-size: 20px;
}


.button-press:hover{
    transform: scale(1.08);
}