.button-press {
    display: inline-block;
    background-color: #FDB927;
    height: 20px;
    box-shadow: 5px 5px 3px #000000;
    padding: 18px 20px;
    margin-right: 25px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-family: 'Fira Code';
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.top-header .button-press {
    padding-top: 10px;
    padding-bottom: 2px;
    height: 30px;
    font-size: 20px;
    margin-right: 15px; /* Reduzi a margem para melhor ajuste em espaços menores */
}

.button-press:hover {
    transform: scale(1.08);
}

/* Adicionando Media Query para iPhone 11 em modo retrato */
@media only screen and (max-width: 828px) {
    .button-press {
        height: 30px;
        padding: 12px 15px; /* Ajuste o preenchimento para melhor visualização em telas menores */
        font-size: 16px; /* Reduzi o tamanho da fonte para melhorar a adaptação */
        margin-right: 15px;
    }

    .top-header .button-press {
        height: 40px;
        padding-top: 8px;
        padding-bottom: 0;
        font-size: 18px;
        margin-right: 10px;
    }
}

.button-arrow {
    width: 50px;
    height: 50px;
    background-color: #FDB927;
    box-shadow: 5px 5px 0px #000000;
    cursor: pointer;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid white;
    transform: translateX(5px);
}

.button-arrow.-right::before {
    transform: translateX;
}

.button-arrow.-left::before {
    transform: rotate(180deg) translateX(5px);
}

