.main-subtitle{
    font-size: 20px;
    font-family: "Fira Code";
    text-shadow: 4px 4px 0px #552583;
    color: #FDB927;
    padding-top: 3px;
}

.main-section{
    font-family: 'Press Start 2P';

}