.main-title{
    font-family: "Fira Code";
    font-size: 30px;
    color: #552583;
    text-shadow: 2px 2px 0px #000000;
    padding-bottom: 1px;
}

.main-title.-second{
    color: #fff;
    text-align: center;
}

.main-title.-third{
    font-size:30px;
    color: #fff;
    margin-bottom: 1px;
}