.node-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.node-card::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    height: 0px;
    width: 35px;
    border: 2.5px dashed black;
    transform: rotate(90deg) translateX(290%);
    bottom: 128px;
    z-index: 1;
}

.node-card .title{
    font-family: "Fira Code";
    font-size: 25px;
    font-weight: 400;
    color: yellowgreen;
    padding-bottom: 40px;
    height: 20px;
    
}

.node-card .logo{
    align-items: center;
    position: relative;
    height: 140px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid black;
    padding: 20px;
    top: 8px;
    justify-self: center;
    background-color: white;
    
}


