body{
	padding: 0;
}

body,h1,h2,h3{
    margin: 0;
}

button{
    border: none;
    font-family: inherit;
    text-decoration: none;
}

.node-card .logo{
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
border-left-width: 0px;
}
