.subtitle{
    font-size: 20px;
    font-family: "Fira Code";
    text-shadow: 4px 4px 0px #8a2be2;
    color: #ffff00;
    padding-top: 3px;
}

.skills{
    font-family: 'Press Start 2P';

}